@using Travel_Blog.External;
@model ViewModelBlog

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Blog.Title" class="control-label"></label>
                <input asp-for="@Model.Blog.Title" class="form-control" />
                <span asp-validation-for="@Model.Blog.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Blog.Content" class="control-label"></label>
                <input asp-for="@Model.Blog.Content" class="form-control" />
                <span asp-validation-for="@Model.Blog.Content" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="@Model.Destination.Country" class="control-label"></label>
                <input asp-for="@Model.Destination.Country" class="form-control" />
                <span asp-validation-for="@Model.Destination.Country" class="text-danger"></span>
            </div
            <div class="form-group">
                <label asp-for="@Model.Destination.City" class="control-label"></label>
                <input asp-for="@Model.Destination.City" class="form-control" />
                <span asp-validation-for="@Model.Destination.City" class="text-danger"></span>
            </div>
             <div class="form-group">
        <label for="ImageFile" class="control-label">Image</label>
        <input type="file" id="ImageFile" name="ImageFile" class="form-control" />
    </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
